@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

@media (min-width: 1320px) {
  .container {
    width: 1320px;
    margin: auto;
    // border: 1px solid red;
  }
}

.background {
  background-image: url("./assets/header_backdrop.svg");
  height: 864.38px;
  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin: 0px 60px;

  > div:nth-child(1) {
    display: flex;
    align-items: center;
    gap: 50px;
    img {
      height: 32px;
      width: 167px;
    }

    p {
      color: white;
    }
  }

  > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 53px;
    p {
      color: white;
    }
    button {
      background: transparent;
      color: white;
    }

    > div:nth-child(2) {
      button {
        border: none;
      }
    }

    > div:nth-child(3) {
      button {
        border: 1px solid white;
        padding: 12px 20px;
        border-radius: 30px 30px;
      }
    }
  }
}

.heading {
  text-align: center;

  > h1 {
    margin-top: 188px;
    margin-bottom: 0px;
    font-size: 70px;
    font-weight: 600;
    line-height: 84px;
    color: white;
  }

  > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;
    color: white;
    margin-top: 17px;
  }
}

.short_btns {
  display: flex;
  justify-content: center;
  gap: 20px;
  > div {
    background: #ffffff26;
    border-radius: 200px;
    > p {
      padding: 16px 30px 16px 66px;
      color: white;
      font-size: 15px;
      font-weight: 500;
      line-height: 28px;
      text-align: center;
    }
  }
}

.best_of_new_york {
  margin-top: 115px;

  > h1 {
    font-size: 30px;
    font-weight: 700;
    line-height: 45px;

    &:nth-child(1) {
      color: #05073c;
    }

    & :nth-child(2) {
      color: #c6c6d2;
    }
  }

  .card {
    width: 300px;
    border-radius: 12px;
    border: 1px solid #e7e6e6;
    position: relative;
    img {
      width: 100%;
      border-radius: 12px 12px 0px 0px;
    }

    .card_data {
      margin-left: 21px;
    }

    p {
      font-size: 12px;
      font-weight: 400;
      line-height: 24px;
      color: #717171;
    }

    h3 {
      margin: 0px;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #05073c;
    }

    .score {
      text-align: center;
      margin-top: 10px;
      margin-bottom: 15px;
    }

    .bottom_div {
      width: 258px;
      border-top: 1px solid #e7e6e6;
      display: flex;
      justify-content: space-between;
      > p {
        &:nth-child(1) {
          margin-left: 21px;
          font-size: 13px;
          font-weight: 400;
          line-height: 24px;
          color: #05073c;
        }

        &:nth-child(2) {
          > span:nth-child(1) {
            color: #05073c;
            font-size: 13px;
            font-weight: 400;
            line-height: 24px;
          }

          > span:nth-child(2) {
            color: #05073c;
            font-size: 15px;
            font-weight: 500;
            line-height: 30px;
          }
        }
      }
    }
  }

  .circle {
    height: 35px;
    width: 35px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    top: 195px;
    left: 254px;
  }

  .cards_of_new_york {
    display: flex;
    justify-content: space-between;
  }
}

.activities {
  display: flex;
  justify-content: space-between;
  margin-top: 225px;

  > div {
    border-radius: 12px;
    width: 410px;
    height: 348px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    > div {
      margin-left: 40px;

      > p {
        font-size: 15px;
        font-weight: 400;
        line-height: 28px;
        color: white;
      }

      > h3 {
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
        color: white;
      }

      > button {
        padding: 17px 61px 17px 36px;
        border: none;
        border-radius: 12px;
        width: 192px;
        > span {
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;
        }
      }
    }

    &:nth-child(1) {
      background-image: url("./assets/glass_pyramid.svg");
    }

    &:nth-child(2) {
      background-image: url("./assets/kayaking.svg");
    }

    &:nth-child(3) {
      background-image: url("./assets/venice.svg");
    }
  }
}

.popular_things_to_do {
  height: 693px;
  margin-top: 120px;
  // background-color: #eb662b0d;

  .grid_system {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    > div {
      &:nth-child(1) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h1 {
          font-size: 30px;
          font-weight: 700;
          line-height: 45px;
          color: #05073c;
        }

        p {
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;
        }

        button {
          background-color: #eb662b;
          border: none;
          width: 100%;
        }
      }

      &:nth-child(2) {
        background-color: green;
      }
    }
  }
}

// .mailing_section {
//   background-image: url("./assets/man_with_backpack.svg");
//   background-size: contain;
//   background-repeat: no-repeat;
//   height: 499px;
//   display: grid;
//   grid-template-areas: "a1 a2";

//   > div {

//   }
// }

// footer {
//   background-color: #05073c;
// }

// .footer {
//   color: white;
//   display: grid;
//   grid-template-areas:
//     "a1 a1 a1 a1"
//     "a2 a3 a4 a5"
//     "a2 a3 a4 a5"
//     "a2 a3 a4 a5"
//     "a6 a6 a6 a6";

//   > div:nth-child(1) {
//     display: flex;
//     justify-content: space-between;
//     grid-area: a1;
//   }

//   > div:nth-child(2) {
//     border: 1px solid #ffffff26;

//     > div {
//       &:nth-child(1) {
//         grid-area: a2;

//         > p {
//           &:nth-child(1) {
//             font-size: 20px;
//             font-weight: 500;
//             line-height: 30px;
//           }

//           &:nth-child(2) {
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 28px;
//           }

//           &:nth-child(3) {
//             font-size: 14px;
//             font-weight: 400;
//             line-height: 28px;
//           }
//         }
//       }

//       &:nth-child(2) {
//         grid-area: a3;
//       }

//       &:nth-child(3) {
//         grid-area: a4;
//       }

//       &:nth-child(4) {
//         grid-area: a5;
//       }
//     }
//   }

//   > div:nth-child(3) {
//   }
// }
footer {
  background-image: url(./Footer.png);
  background-size: cover;
  background-color: #05073c;
  color: white;
  > div {
    height: 655.13px;
    padding-bottom: 80.1px;

    > div:nth-of-type(1) {
      display: flex;
      justify-content: space-between;
      padding: 94.31px 0px 64.82px 80px;
      border-bottom: 1px solid #fccbb6;
      > p:nth-of-type(1) {
        font-weight: 500;
        font-size: 20px;
        line-height: 38px;
        text-align: left;
      }
      > p:nth-of-type(2) {
        font-weight: 500;
        font-size: 16px;

        line-height: 32px;
        margin-right: 169.8px;
        text-align: left;
      }
    }

    > div:nth-of-type(2) {
      display: grid;

      grid-template-areas: "q1 q1 q2 q3 q4 q4 ";
      > div {
        margin-right: 100.7px;
        margin-top: 39.99px;

        > h4 {
          font-size: 20px;
          font-weight: 500;
          line-height: 30px;

          text-align: left;
        }
        > p {
          font-size: 15px;
          font-weight: 500;
          line-height: 28px;

          text-align: left;
        }
      }

      > div:nth-of-type(1) {
        width: 439.98px;
        height: 390px;
        padding: 0px 0px 0px 15px;
        grid-area: q1;

        > p {
          font-size: 14px;
          font-weight: 400;
          line-height: 28px;

          text-align: left;
        }
      }
      > div:nth-of-type(2) {
        width: 128.23px;
        height: 390px;

        grid-area: q2;
      }
      > div:nth-of-type(3) {
        width: 119.59px;
        height: 390px;
        grid-area: q3;
      }
      > div:nth-of-type(4) {
        width: 330px;
        height: 390px;

        grid-area: q4;
        > p {
          font-size: 15px;
          font-weight: 400;
          line-height: 28px;

          text-align: left;
        }
      }
    }
  }
}
#copywrite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #05073c;
  color: white;
  > p {
    font-size: 15px;
    font-weight: 400;
    line-height: 28px;

    text-align: left;
  }
}
.trending_Destinations {
  > div {
    display: flex;
    justify-content: space-between;
    align-items: center;

    > p {
      &:nth-child(1) {
        font-size: 30px;
        font-weight: 700;
        line-height: 45px;
        color: #05073c;
      }

      &:nth-child(2) {
        font-size: 14px;
        font-weight: 400;
        line-height: 28px;
        color: #05073c;
      }
    }
  }

  .desc {
    color: #05073c;
    > p {
      &:nth-child(1) {
        font-size: 18px;
        font-weight: 500;
        line-height: 27px;
        margin: 0px;
      }

      &:nth-child(2) {
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
        margin-top: 5px;
      }
    }
  }
}
#cr{
  background-color: #05073c;
}
